<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--DEV-->
    <add name="AnimalDB" connectionString="Data Source=FIT-GDD3M32-NB;Initial Catalog=AnimalDB;Integrated Security=true" providerName="System.Data.SqlClient"/>   
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings> 
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LotsOfObjects">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EngineService.Behaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="250" maxConcurrentInstances="1000"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="EngineServiceHttp.Binding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" sendTimeout="00:02:00">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="210000" maxNameTableCharCount="210000"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EngineServiceTcp.Binding" portSharingEnabled="true" transactionFlow="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:02:00">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="210000" maxNameTableCharCount="210000"/>
        </binding>
        <binding name="PortSharing" portSharingEnabled="true" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" sendTimeout="00:02:00">
          <readerQuotas maxDepth="200" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="EngineServicePipe.Binding" transactionFlow="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:02:00">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="210000" maxNameTableCharCount="210000"/>
        </binding>
      </netNamedPipeBinding>
      <customBinding>
        <binding name="CompressedTCP" sendTimeout="00:02:00">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxDepth="64" maxStringContentLength="2147483647" maxBytesPerRead="210000" maxNameTableCharCount="210000"/>
          </binaryMessageEncoding>
          <tcpTransport portSharingEnabled="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" transactionFlow="false" sendTimeout="00:01:00" receiveTimeout="00:10:00" allowCookies="false" useDefaultWebProxy="true" textEncoding="utf-8" messageEncoding="Text" hostNameComparisonMode="StrongWildcard" bypassProxyOnLocal="false" openTimeout="00:01:00" closeTimeout="00:01:00">
          <readerQuotas maxArrayLength="67108864" maxStringContentLength="67108864" maxDepth="67108864" maxNameTableCharCount="67108864" maxBytesPerRead="67108864"/>
          <reliableSession enabled="false" inactivityTimeout="00:10:00" ordered="true"/>
          <security mode="Message">
            <transport realm="" proxyCredentialType="None" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>

      <!-- Animal SERVICES -->
      <service name="Animal.Engine.Service.AnimalEngineService" behaviorConfiguration="EngineService.Behaviour">
        <endpoint binding="basicHttpBinding" bindingConfiguration="EngineServiceHttp.Binding" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalEngineService"/>
        <endpoint binding="netTcpBinding" bindingConfiguration="PortSharing" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalEngineService" />
        <!--  <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalEngineService" />-->
        <!--<endpoint binding="customBinding" bindingConfiguration="CompressedTCP" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalEngineService" />-->
        <!--<endpoint binding="netNamedPipeBinding" bindingConfiguration="EngineServicePipe.Binding" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalEngineService" />-->
      </service>
      <service name="Animal.ResourceAccess.Service.AnimalResourceAccessService" behaviorConfiguration="EngineService.Behaviour">
        <!--<endpoint binding="basicHttpBinding" bindingConfiguration="EngineServiceHttp.Binding" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalResourceService" />
        <endpoint binding="customBinding" bindingConfiguration="CompressedTCP" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalResourceService" />-->
        <endpoint binding="netNamedPipeBinding"  bindingConfiguration="EngineServicePipe.Binding" behaviorConfiguration="LotsOfObjects" contract="Animal.ServiceContracts.IAnimalResourceService"/>
      </service>
    </services> 
      <client>
        <endpoint address="net.pipe://localhost/AnimalWCF/AnimalResourceAccessService.svc" behaviorConfiguration="LotsOfObjects" binding="netNamedPipeBinding" bindingConfiguration="EngineServicePipe.Binding" contract="Animal.ServiceContracts.IAnimalResourceService" name="NetPipeBindingEndpoint"/>

      </client>
    </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
